[run]
source = .
omit = 
    */test_*
    */tests/*
    */UnitTests/*
    */venv/*
    */env/*
    */site-packages/*
    setup.py
    run_coverage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError